.grid {
    justify-content: center;
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .grid {
        width: 90%;
        margin: auto;
    }
}


.technologies {
    position: absolute;
    text-align: center;
    background-color: #ddd;
}




.container-tech {
    position: relative;
}

.tech {
    z-index: 100;
    transition: transform 0.3s ease-in-out;
}

.tech:hover {
    transform: scale(1.3);
}