.AppBar .navbar {
    height: 100px;
}

.AppBar .nav-link{
    font-family: 'Open Sans Condensed';
    font-size: 25px;
    transition: font-size .2s ease-out;
}

.AppBar .nav-link:hover{
    font-size: 30px;
}

.AppBarToggle{
    color: #333;
    font-size: 1.8em;
    opacity: 50%;
    transition: all 2s ease-out 500ms;
}

.AppBarToggle:hover{
    color: #666;
    opacity: 1;
}

.AppBarToggle svg{
    transition: all 0.2s ease-out;
}

.AppBarToggle:hover svg{
    transform: rotate(180deg);
}

.AppBar .Menu{
    transition: opacity .5s ease-out 50ms;
    opacity: 0;
}

.AppBar .showMenu{
    opacity: 1;
}

.opacity-0{
    opacity: 0!important;
}