.title{
    font-family: 'Super Mario';
    color:#ffba66;
}

.Work section {
    padding-top: 1rem;
}

.Work ul.leyend li{
    padding-right: 1rem;
    display: inline;
    width: 25%;
    color: white;
    padding: 1rem;
}

.Work ul {
    list-style: none;
}

.Work ul li {
    font-family: 'Open Sans Condensed';
    font-size: 20px;
}

.Work .text{
    font-family: 'Open Sans Condensed';
    text-align: justify;
    font-size: 20px;
}

.lvl{
    font-family: 'Open Sans Condensed';
    color: white;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 22px;
    text-align: center;
}


.lvl3{
    background:#1999D6;
}
.lvl2{
    background:#40B149
}
.lvl1{
    background:#E72629
}


.tlvl3{
    color:#1999D6
}
.tlvl2{
    color:#40B149
}
.tlvl1{
    color:#E72629
}