* {
  user-select: none;
}

html,
body {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-tech {
  position: relative;
}

.tech {
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.tech:hover {
  transform: scale(1.3);
}